*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading
{
  margin-top: 50px;
  text-align: center;
}
body
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 100vh; */
  width: 100%;
}
.searchContainer
{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: red; */
  /* padding: 20px; */
}
.search
{
  /* background-color: blue; */
  padding: 20px;
  text-align: center;
}
.search input[type=text]
{
  padding: 10px;
  width: 500px;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 0.5px solid #323232;
  transition: 0.25s ease;
}
.search input[type=text]:focus
{
  background-color: #323232;
  color: #fff;

}

.btn
{
  width: 100px;
  height: 40px;
  margin-left: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background-image:linear-gradient(#0f4c75, #3282b8);
  color: #fff;
  transition: 1s ease;
}
.btn:hover
{
  background-image:linear-gradient(#3282b8, #0f4c75);

}
.cardContainer
{
  display: flex;
  flex-direction: column;
}
.Card
{
  background-color: red;
  padding: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 95%;
}
.Card img
{
  width: 35%;
  border-radius: 50%;
}
